/* bacgroun colour */
section.main.st-emotion-cache-uf99v8.ea3mdgi5 {
    background: white;
}

.st-emotion-cache-vk3wp9 {
    /* position: relative; */
    top: 2px;
    background-color: #4c85e4;
    z-index: 999991;
    min-width: 340px;
    max-width: 340px;
    transform: none;
    transition: transform 300ms ease 0s, min-width 300ms ease 0s, max-width 300ms ease 0s;
}

/* header colur */
header.st-emotion-cache-18ni7ap.ezrtsby2 {
    background:white;
}

/* login Alignment */
.st-emotion-cache-r421ms.e10yg2by1 {
    background: white;
    margin-left: 0px;
    width: 100%;
}

/* sidebar clear button */
input[type="submit"] {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background: #32CD32;
    border-color: #32CD32;
    color:white;
}


/* chat body margin alignment */
.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 {
    margin-top: -87px;
}


/* sidebar top alignment */
.st-emotion-cache-16txtl3.eczjsme4 {
    margin-top: -40px;
}

.css-1544g2n.e1fqkh3o4 {
    background-color: #0A81C2;
}
.css-1balh2r.e1tzin5v0, .css-jid5qj.e1tzin5v0 {
    background-color: #0A81C2;
}


.st-emotion-cache-6qob1r {
    position: relative;
    height: 100%;
    background-color:#0A81C2;
    width: 100%;
    overflow: overlay;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-bm2z3a.ea3mdgi8 > div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 > div > div > div > div:nth-child(9) > div:nth-child(4) > div > div > div > div > div > button{
    background-color: #32CD32;   
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-bm2z3a.ea3mdgi8 > div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 > div > div > div > div:nth-child(10) > div:nth-child(4) > div > div > div > div > div > button{
    background-color: #32CD32;   
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-bm2z3a.ea3mdgi8 > div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 > div > div > div > div:nth-child(11) > div:nth-child(4) > div > div > div > div > div > button{
    background-color: #32CD32;   
}